//LAYOUT VARIABLES
//append this block to override the variables

block variables
  - var root = ""

//MIXINS
//it is advised to use this instead of raw anchors

mixin link(name, str)
  - str = str || name
  a(href=root + name + ".html")!= str

mixin css(name)
  link(rel="stylesheet"
       href=root + name
       type="text/css")


doctype html
html(lang="en")
  head
    title= "Notodeim" + (title?title:"")
    +css("style.css")
    +css("general.css")
    block head

  body
    block body
