extends html

block append head
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")

block append body
  //ACTUAL CONTENTS HERE
  div.header
    h1: a(href=root+'index.html') Notodeim
    ul.menu
      li: +link('synopsis')
      li: +link('howto')
      li: +link('units')
    div.clear_both

  div.body
    div.contents
      block content
    div#reference
    div.clear_both

  div.footer
    p Copyright Diesix gattr

  script.
    $(document).ready(function() {
      var reference_hide_css = { opacity: 0, "margin-right": -20 };
      var reference_show_css = { opacity: 1, "margin-right": 0 };

      $('#reference').animate(reference_hide_css, 0);

      $('.ref').mouseenter(function(event) {

        var name = event.target.textContent.toLowerCase().replace(/\ /g, '-');
        var dir = $(this).attr('type');
        dir = dir == ""? "units" : dir;
        var url = "./#{root}" + dir + "/" + name + ".html";
        var url404 = "./#{root}404card.html";       
        var offset = $(document).scrollTop();

        $('#reference').css({"margin-top": offset}).load(url,
        function(responseText, textState, XMLHttpRequest) {
            console.log(textState);
            if (textState == "error")
                $(this).load(url404);
            $(this).stop().animate(reference_show_css, 150);
        });
      }).mouseleave(function(event) {
        $('#reference').stop().animate(reference_hide_css, 150);
      });
    });
