extends html

block append head
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")

block append body
  //ACTUAL CONTENTS HERE
  div.header
    h1: a(href=root+'index.html') Notodeim
    ul.menu
      li: +link('synopsis')
      li: +link('howto')
      li: +link('units')
  hr

  div.body
    div.contents
      block content
    iframe#reference

  div.footer
    p Copyright Diesix gattr

  script.
    $(document).ready(function() {

      $('#reference').hide();

      $('.unit_ref').mouseenter(function(event) {
        var url = "./#{root}units/" + event.target.textContent + ".html";
        $('#reference').attr("src", url).show();
      }).mouseleave(function(event) {
        $('#reference').removeAttr("src").hide();
      });
    });
