@import "reset"

$card_width = 280px

#reference
    min-height 800px
    float right
    width $card_width

.footer
    clear both

.ref
    display inline
    font-size 85%
    padding 2px 6px
    background-color #333
    color #ddd
    border 1px solid #888
    border-radius 4px
    font-weight bold


.card_thumbnail
    display inline-block
    padding 0 10px 10px 0

.card
    font-size 75%
    max-width $card_width
    background-color #eee
    font-family Sans-Serif
    color #333
    padding 5px 0
    border-radius 6px

    img
        width $card_width
        height 150px

    #card_overlay
        position relative
        top -172px
        margin-bottom -160px

    h1
        text-transform capitalize
        font-size 100%
        display block
        width $card_width - 10px
        color #aaa
        padding 5px
        margin 15px 0 5px
        border-top 1px dashed #aaa

    h2
        color #666
        display inline-block
        font-size 100%
        text-transform capitalize
        text-align center
        width $card_width - 20px
        margin 5px

    blockquote
        font-size 85%
        display block
        width $card_width - 10px
        text-align right
        font-family Serif
        font-style italic
        color #333
        padding 3px 5px

    ul
        display inline-block

    li
        font-size 80%
        font-weight bold
        display inline-block
        padding 4px 5px 2px
        margin 0 3px 0 3px
        background-color #fff
        color #666
        border 1px solid #888
        border-radius 4px

    p
        padding 5px 10px
